<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.MenuMakeMapper">
    <select id="getMenuMakeListByMid" parameterType="int"
            resultType="com.hstc.pojo.MenuMake">
        select * from menu_make
        where menu_id=#{menuId} order by step asc
    </select>

</mapper>
