<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.MenuMapper">

    <!-- collection  cloumn为一对多的 多表的主键 foreignColum以一表的外键-->
    <resultMap id="menuMap" type="com.hstc.pojo.Menu" autoMapping="true">
        <id column="menu_id" property="menu_id"/>
        <result column="menu_name" property="menu_name"/>
        <result column="flavor" property="flavor"/>
        <result column="calorie" property="calorie"/>
        <result column="technology" property="technology"/>
        <result column="make_time" property="make_time"/>
        <result column="diseases" property="diseases"/>
        <result column="menu_url" property="menu_url"/>
        <collection property="menuEffectList"
                    ofType="com.hstc.pojo.MenuEffect"
                    column="menu_id"
                    foreignColumn="menuId"
                    select="com.hstc.dao.MenuEffectMapper.getMenuEffectListByMid"
                    fetchType="lazy"/>
        <collection property="menuIngredientsList"
                    ofType="com.hstc.pojo.MenuIngredients"
                    column="menu_id"
                    foreignColumn="menuId"
                    select="com.hstc.dao.MenuIngredientsMapper.getMenuIngredientsListByMid"
                    fetchType="lazy"/>
        <collection property="menuNutrientList"
                    ofType="com.hstc.pojo.MenuNutrient"
                    column="menu_id"
                    foreignColumn="menuId"
                    select="com.hstc.dao.MenuNutrientMapper.getMenuNutrientListByMid"
                    fetchType="lazy"/>
        <collection property="menuMakeList"
                    ofType="com.hstc.pojo.MenuMake"
                    column="menu_id"
                    foreignColumn="menuId"
                    select="com.hstc.dao.MenuMakeMapper.getMenuMakeListByMid"
                    fetchType="lazy"/>
    </resultMap>

    <select id="queryAllMenu" resultMap="menuMap">
        select * from menu
        <where>
            <if test="category != null">
                diseases = #{category}
            </if>
            <if test="menuName != null">
                and menu_name like "%"#{menuName}"%"
            </if>
        </where>
        <!-- 执行分页查询 -->
        <if test="start != null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="queryMenuCount" resultType="Integer">
        select count(*) from menu
        <where>
            <if test="category != null">
                diseases = #{category}
            </if>
            <if test="menuName != null">
                and menu_name like "%"#{menuName}"%"
            </if>
        </where>
    </select>


    <select id="queryMenuByName" resultMap="menuMap">
        select * from menu
        where menu_name like "%"#{menuName}"%"
    </select>

    <select id="queryUserMenuByName" resultMap="menuMap">
        select * from menu
        where menu_name like #{menuName}
        limit 0,30
    </select>

    <update id="updateMenu" parameterType="com.hstc.pojo.Menu">
        update menu
        set menu_name=#{menu_name},
            flavor=#{flavor},
            calorie=#{calorie},
            technology=#{technology},
            make_time=#{make_time},
            diseases=#{diseases},
            menu_url=#{menu_url}
        where menu_id=#{menu_id}
    </update>

    <delete id="deleteMenuById">
        delete from menu
        where menu_id=#{menuId}
    </delete>





    <!-- 查询菜谱总数 -->
    <select id="selectMenuListCount" resultType="Integer">
        select count(*) from menu
    </select>

    <select id="recommendMenuList" resultMap="menuMap">
        select *
        from menu
        where
        <if test="diseases != null and flavor != null">
            diseases=#{diseases} and flavor like #{flavor}
        </if>

        <if test="diseases != null and flavor == null">
            diseases=#{diseases}
        </if>
        <if test="diseases == null and flavor != null ">
            flavor like #{flavor}
        </if>
        ORDER BY RAND() LIMIT 0,5
    </select>

    <insert id="addMenu" parameterType="com.hstc.pojo.Menu">
        insert into menu values (null ,#{menu_id},#{menu_name}
                                ,#{flavor},#{calorie},#{technology}
                                ,#{make_time},#{diseases},#{manu_url})
    </insert>

    <select id="queryCollectionMenuList" resultMap="menuMap">
        select menu.menu_id,menu_name,flavor,calorie,
               technology,make_time,diseases,menu_url
        from menu,collection_menu
        where menu.menu_id=collection_menu.menu_id
          and collection_menu.user_id=#{userId}
    </select>

    <select id="queryMenuById" resultMap="menuMap">
        select *
        from menu
        where menu_id=#{menuId}
    </select>
</mapper>
