<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.NutritionRecordMapper">
    <select id="queryNutritionRecordById" parameterType="com.hstc.pojo.NutritionRecord">
        select username,name,content,time
        from nutrition_record,user
        where nutrition_record.user_id = user.user_id
            and user.user_id = #{userId}
        <!-- 执行分页查询 -->
        <if test="start !=null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="selectNutritionRecordCount" parameterType="int">
        select count(*) from nutrition_record where user_id = #{userId}
    </select>

    <insert id="addNutritionRecord" parameterType="com.hstc.pojo.NutritionRecord">
        insert into nutrition_record
        values (#{user_id},#{name},#{content},#{time})
    </insert>

    <update id="updateNutritionRecord" parameterType="com.hstc.pojo.NutritionRecord">
        update nutrition_record
        set content=#{content}
        where user_id=#{user_id} and name=#{name}
            and time=#{time}
    </update>


</mapper>
