<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.NutritionRecordMapper">

    <resultMap id="nutritionRecordMap" type="com.hstc.pojo.NutritionRecord">
        <result property="user_id" column="user_id" />
        <result property="username" column="username" />
        <result property="name" column="name" />
        <result property="content" column="content" />
        <result property="time" column="time" />
    </resultMap>

    <select id="queryAllNutritionRecord" resultMap="nutritionRecordMap">
        select nutrition_record.user_id as user_id,username,nutrition_record.name as name,content,time
        from nutrition_record,user
        <where>
            user.user_id=nutrition_record.user_id
            <if test="userId != null">
                and nutrition_record.user_id=#{userId}
            </if>
            <if test="username != null">
                and user.username like "%"#{username}"%"
            </if>
            <!-- 执行分页查询 -->
            <if test="start != null and rows != null">
                limit #{start},#{rows}
            </if>
        </where>
    </select>

    <select id="queryNutritionRecordCount" resultType="int">
        select count(*) from nutrition_record,user
        <where>
            user.user_id=nutrition_record.user_id
            <if test="userId != null">
                and nutrition_record.user_id=#{userId}
            </if>
            <if test="username != null">
                and user.username like "%"#{username}"%"
            </if>
        </where>
    </select>

    <delete id="deleteNutritionRecord">
        delete from nutrition_record
        where user_id=#{userId} and name=#{name} and time=#{time}
    </delete>

    <select id="queryNutritionRecordById" resultType="com.hstc.pojo.NutritionRecord">
        select user.user_id,username,name,content,time
        from nutrition_record,user
        where nutrition_record.user_id = user.user_id
        and user.user_id = #{userId}
        <!-- 执行分页查询 -->
        <if test="start !=null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="queryNutritionRecordByUser" resultType="com.hstc.pojo.NutritionRecord">
        select *
        from nutrition_record
        where user_id=#{user_id} and time=#{time}
    </select>

    <select id="selectNutritionRecordCount" resultType="Integer">
        select count(*) from nutrition_record where user_id = #{userId}
    </select>

    <insert id="addNutritionRecord" parameterType="com.hstc.pojo.NutritionRecord">
        insert into nutrition_record
        values (#{user_id},#{name},#{content},#{time})
    </insert>

    <update id="updateNutritionRecord" parameterType="com.hstc.pojo.NutritionRecord">
        update nutrition_record
        set content=content+#{content}
        where user_id=#{user_id} and name=#{name}
          and time=#{time}
    </update>

</mapper>
