<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.RecommendMenuMapper">
    <insert id="addRecommendMenuMapper" parameterType="com.hstc.pojo.RecommendMenu">
        insert into recommend_menu
        values (#{user_id},#{menu_id},#{time},#{whether})
    </insert>

    <update id="updateRecommendMenu" parameterType="com.hstc.pojo.RecommendMenu">
        update recommend_menu
        set whether=#{whether}
        where user_id=#{user_id} and menu_id=#{menu_id} and time=#{time}
    </update>

    <select id="queryRecommendMenuMapperById" resultType="com.hstc.pojo.RecommendMenu">
        select user.user_id, username,menu.menu_id,menu_name,time,whether
        from recommend_menu,user,menu
        where user.user_id=recommend_menu.user_id and
              menu.menu_id=recommend_menu.menu_id and
              user.user_id=#{userId}
        <!-- 执行分页查询 -->
        <if test="start !=null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="queryRecommendMenuMapperListCount"
            resultType="Integer">
        select count(*) from recommend_menu where user_id like #{userId}
    </select>

</mapper>
