<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.dao.UserMapper">
    <insert id="addUser" parameterType="com.hstc.pojo.User">
        insert into user
        values (#{user_id},#{sex},#{age},
                #{height},#{weight},#{flavor},
                #{convalescent},#{medical_history})
    </insert>
    
    <update id="updateUser" parameterType="com.hstc.pojo.User">
        update user set sex=#{sex},age=#{age},
                        height=#{height},weight=#{weight},flavor=#{flavor},
                        convalescent=#{convalescent},
                        medical_history#{medical_history}
        where user_id=#{user_id}
    </update>

    <select id="selectUserById" resultType="com.hstc.pojo.User">
        select * from user
        where user_id=#{userId}
    </select>

    <select id="selectAllUser" resultType="com.hstc.pojo.User">
        select * from user
    </select>

</mapper>
